
<div *ngIf="itemSetItem">
    <h2><span>Item Set Item</span> {{itemSetItem.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Anzahl</span></dt>
        <dd>
            <span>{{itemSetItem.anzahl}}</span>
        </dd>
        <dt><span>Item Set Bez</span></dt>
        <dd>
            <div *ngIf="itemSetItem.itemSetBez">
                <a [routerLink]="['/item-set', itemSetItem.itemSetBez?.id]">{{itemSetItem.itemSetBez?.itemSetBez}}</a>
            </div>
        </dd>
        <dt><span>Item Bez</span></dt>
        <dd>
            <div *ngIf="itemSetItem.itemBez">
                <a [routerLink]="['/item', itemSetItem.itemBez?.id]">{{itemSetItem.itemBez?.bezeichnung}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'item-set-item/'+ itemSetItem.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
