<div>
    <h2>
        <span>Item Set Items</span>
        <button class="btn btn-primary float-right jh-create-entity create-item-set-item" [routerLink]="['/', { outlets: { popup: ['item-set-item-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Item Set Item
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="itemSetItems">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Anzahl</span></th>
            <th><span>Item Set Bez</span></th>
            <th><span>Item Bez</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let itemSetItem of itemSetItems ;trackBy: trackId">
                <td><a [routerLink]="['../item-set-item', itemSetItem.id ]">{{itemSetItem.id}}</a></td>
                <td>{{itemSetItem.anzahl}}</td>
                <td>
                    <div *ngIf="itemSetItem.itemSetBez">
                        <a [routerLink]="['../item-set', itemSetItem.itemSetBez?.id ]" >{{itemSetItem.itemSetBez?.itemSetBez}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="itemSetItem.itemBez">
                        <a [routerLink]="['../item', itemSetItem.itemBez?.id ]" >{{itemSetItem.itemBez?.bezeichnung}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../item-set-item', itemSetItem.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'item-set-item/'+ itemSetItem.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'item-set-item/'+ itemSetItem.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
