
<div *ngIf="groesse">
    <h2><span>Groesse</span> {{groesse.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Breite</span></dt>
        <dd>
            <span>{{groesse.breite}}</span>
        </dd>
        <dt><span>Laenge</span></dt>
        <dd>
            <span>{{groesse.laenge}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'groesse/'+ groesse.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
