
<div *ngIf="raum">
    <h2><span>Raum</span> {{raum.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Raum Nr</span></dt>
        <dd>
            <span>{{raum.raumNr}}</span>
        </dd>
        <dt><span>Etage</span></dt>
        <dd>
            <span>{{raum.etage}}</span>
        </dd>
        <dt><span>Groesse</span></dt>
        <dd>
            <span>{{raum.groesse}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'raum/'+ raum.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
