<div class="container-fluid">
    <!--
    <div [ngSwitch]="isAuthenticated()">
        <ul>
            <li *ngFor="let raum of raeume">
                {{raum.raumNr}}
            </li>
        </ul>
    </div>
-->
    <div class="row">
        <div class="col-md-6">
            <img class="logo" align="middle" src="../../content/images/GetYourSpaceInTime.png">
        </div>
        <div class="col-md-6 divBackground">
            <jhi-double-view></jhi-double-view>
        </div>
    </div>

</div>