/* ==========================================================================
Main page styles
========================================================================== */
.logo {
    display: block;
    height: 50%;
    margin-top: 30%;
}

.divBackground {
    background-image: url('../../content/images/Space.jpg');
}

.test {
    z-index: 1;
}

