/* ==========================================================================
Main page styles
========================================================================== */
.logo {
    display: block;
    height: 50%;
    margin-top: 30%;
}

.test {
    z-index: 1;
}

