<div class="jh-card doubleview border">
  <div class="card-header">
    <div class="btn-group-justified container-fluid">
      <a href="#" [class]="getBeschreibungClass()" (click)="onClickBeschreibung()">Beschreibung</a>
      <a href="#" [class]="getZielgruppeClass()" (click)="onClickZielgruppe()">Zielgruppe</a>
    </div>
  </div>
  <div class="card-body">
    <div class="jobs_index_middle_panels">
      <div *ngIf="zielgruppeSelected">
        <div class="card-body">
          <h1 class="card-title text-white">
            Zeit- &amp; Raumplaner
          </h1>
          <p class="card-text text-white">
            Das Black Hole ist eine Webanwendung die einen Zeitplaner und einen Raumplaner vereint und so größtmögliche Effizienz und
            Planbarkeit möglich macht.
          </p>
        </div>
      </div>
      <div *ngIf="beschreibungSelected">
        <div class="card-body">
          <h1 class="card-title text-white">
            Unternehmen &amp; Vereine
          </h1>
          <p class="card-text text-white">
            Die Lösung für Alle die viele Räume oder Plätze verwalten müssen..
          </p>
        </div>
      </div>
    </div>
  </div>
</div>