<div class="row">
<!--DatePicker im Header Anfang-->
  <div class="col-12">
      <div class="row">
        <div class="col-xs-3 ml-2">
          <form class="form-inline">
            <div class="form-group">        
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                    <img src="..\..\content\images\calender-icon.png" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-xs-3 ml-1">
            <button class="btn btn-secondary" (click)="filterIsVisible = !filterIsVisible">Inventare</button>
            <div class="card" *ngIf="filterIsVisible">
                <div class="card-body">
                    <div class="container">
                        <ul class="items" >
                          <div*ngFor="let item of filterList">
                            <input 	type="checkbox" (click)="checkboxClick(item)" name="items" value="{{ item.id }}">{{ item.bezeichnung }}</input>
                        </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-3 ml-1">
          <button type="button" (click)="showBuchen = !showBuchen"class="btn btn-secondary">Buchen</button>
          <div *ngIf="showBuchen">
              <div class="card">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <button type="button" (click)="showBuchen = false"class="btn btn-secondary btn-sm">X</button>
                        </div>
                      </div>
                </div>
              </div>
            </div>
        </div>
      </div>
  </div>
<!--DatePicker im Header Ende-->

<div class="w-100"></div>

<!--Etagenwahl Anfang-->
  <div class="col">
    <div class="btn-group-vertical">
      <button type="button" *ngFor="let item of levels; let i = index;" [class]="getClass(i)" (click)="onLevelClick(i)">Etage {{levels[i]}}</button>
    </div>
  </div>
<!--Etagenwahl Anfang-->

<!--Räume auf der Etage Anfang-->
  <div class="col">
    <table class="table table-light w-60">
      <thead>
        <tr>
          <th scope="col">Raum-Nr</th>
          <th scope="col">Art</th>
        </tr>
      </thead>
      <tbody>
        <tr id={{raum.raumNr}} (click)="setClickedRow(i)" *ngFor="let raum of raeume; let i = index" [class.active]="i == selectedRow">
          <td>{{raum.raumNr}}</td>
          <td>{{raum.art}}</td>
        </tr>
      </tbody>
    </table>
  </div>
<!--Räume auf der Etage Ende-->

  <div class="w-100"></div>

<!--Inventar des Raums Anfang-->
  <div class="col">
    <table class="table table-light w-20">
      <thead>
        <tr>
          <th scope="col">Items</th>
          <th scope="col">#</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items;">
          <td>{{item.bezeichnung}}</td>
          <td>{{item.anzahl}}</td>
        </tr>
      </tbody>
    </table>
  </div>
<!--Inventar des Raums Ende-->

<!--Belegung des Raums Anfang-->
  <div class="col">
    <table class="table table-light">
      <thead>
        <tr>
          <th scope="col">Bezeichnung</th>
          <th scope="col">Raum</th>
          <th scope="col">Startzeit</th>
          <th scope="col">Endzeit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let termin of termine;">
          <td>{{termin.bezeichnung}}</td>
          <td>{{termin.raum.raumNr}}</td>
          <td>{{termin.startzeit | date:'medium'}}</td>
          <td>{{termin.endzeit | date:'medium'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
<!--Belegung des Raums Anfang-->
</div>

