<div class="row" style="margin-left: 1px; margin-right: 1px">
<!--DatePicker im Header Anfang-->
  <div class="col-12">
      <div class="row">
        <div class="col-1" style="padding-right:1px">
            <button class="btn btn-secondary btn-block" (click)="filterIsVisible = !filterIsVisible">Filter</button>
            <div class="card bg-light border border-dark" *ngIf="filterIsVisible" style="position: absolute; z-index: 1">
                <div class="card-body" >
                    <div class="container">
                      <div class="row">
                          <div class="col"*ngFor="let item of filterList">
                              <input class="form-check-input" type="checkbox" (click)="checkboxClick(item)" value="{{ item.id }}" id="defaultCheck1">
                              <label class="form-check-label" for="defaultCheck1">
                                  {{ item.bezeichnung }}
                              </label>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1" style="padding-left:1px">
          <button type="button" (click)="showBuchen = !showBuchen"class="btn btn-secondary btn-block">Buchen</button>
          <div *ngIf="showBuchen">
              <div class="card bg-light border border-dark" style="position: absolute; z-index: 1">
                <div class="card-body">
                    <div class="container">
                      <div class="row">
                        <label for="start-time">Start: </label>
                        <input type="datetime-local" [(ngModel)]="termin.startzeit" id="startTime" name="startTime" min="8:00" max="18:00" required />
                        <label for="end-time">Ende: </label>
                        <input type="datetime-local" [(ngModel)]="termin.endzeit" id="endTime" name="endTime" min="8:00" max="18:00" required />
                        <span class="hours">Öffnungszeiten: 8:00 bis 18:00</span>
                        <input type="text" [(ngModel)]="termin.bezeichnung" id="bez" name="bez" required />
                        <button type="button" (click)="addNewBooking()"class="btn btn-secondary">OK</button>
                      </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
      </div>
  </div>
<!--DatePicker im Header Ende-->

<div class="w-100"></div>

<span style="display:block; height: 10px;"></span>
  <div class="col-2">
    <!--Etagenwahl Anfang-->
    <div class="btn-group-vertical container" style="padding: 0px">
      <button type="button" *ngFor="let item of levels; let i = index;" [class]="getClass(i)" (click)="onLevelClick(i)">Etage {{levels[i]}}</button>
    </div>
    <!--Etagenwahl Anfang-->
    <span style="display:block; height: 10px;"></span>
    <!--Inventar des Raums Anfang-->
    <table class="table table-light">
      <thead>
        <tr>
          <th scope="col">Items</th>
          <th scope="col">#</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items;">
          <td>{{item.bezeichnung}}</td>
          <td>{{item.anzahl}}</td>
        </tr>
      </tbody>
    </table>
    <!--Inventar des Raums Ende-->
  </div>


<!--Räume auf der Etage Anfang-->
  <div class="col-5">
    <table class="table table-light">
      <thead>
        <tr>
          <th scope="col">Raum-Nr</th>
          <th scope="col">Art</th>
        </tr>
      </thead>
      <tbody>
        <tr id={{raum.raumNr}} (click)="setClickedRow(i)" *ngFor="let raum of raeume; let i = index" [class.active]="i == selectedRow">
          <td>{{raum.raumNr}}</td>
          <td>{{raum.art}}</td>
        </tr>
      </tbody>
    </table>
  </div>
<!--Räume auf der Etage Ende-->



<!--Belegung des Raums Anfang-->
  <div class="col-5">
    <table class="table table-light">
      <thead>
        <tr>
          <th scope="col">Bezeichnung</th>
          <th scope="col">Raum</th>
          <th scope="col">Startzeit</th>
          <th scope="col">Endzeit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let termin of termine;">
          <td>{{termin.bezeichnung}}</td>
          <td>{{termin.raum.raumNr}}</td>
          <td>{{termin.startzeit | date:'medium'}}</td>
          <td>{{termin.endzeit | date:'medium'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
<!--Belegung des Raums Anfang-->
</div>

